<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LingoBuddy</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="header"><p>lingoBuddy</p></div>
    <div class="main-container">
      <div class="sidebar">
        <p class="heading">Options</p>
        <div class="sidebar-option" onclick="showTab(this, 'tab-chatbot')">
          Chatbot
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-analysis')">
          Analysis
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-translator')">
          Translator
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-test')">
          Test
        </div>
      </div>
      <div class="container">
        <div id="tab-chatbot" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Lingo<span>Buddy</span></p>
          </div>
          <div class="chat-options">
            <div class="chat-upload-document">
              <div class="file-upload-wrapper">
                <input
                  type="file"
                  class="file-upload-input"
                  id="file-input"
                  accept=".pdf"
                />
                <button class="file-upload-button">Choose PDF File</button>
              </div>
              <p class="file-name" id="file-name">No file chosen</p>
              <button id="upload-btn">Upload</button>
              <div id="upload-status"></div>
            </div>
            <div class="chat-select-language">
              <p>Select Language:</p>
              <select>
                <option>English</option>
                <option>Tamil</option>
                <option>Telugu</option>
              </select>
            </div>
          </div>
          <div class="chat-box" id="chat-box">
            <div class="chat-icon-div chat-icon-div-bot">
              <img
                class="bot-img"
                src="{{ url_for('static', filename='images/bot.png') }}"
              />
              <p class="chat-name chat-name-bot">LingoBuddy</p>
            </div>
            <div class="message bot">
              Welcome to LingoBuddy! How can I assist you today?
            </div>
          </div>
          <div class="input-area">
            <input
              type="text"
              id="user-input"
              placeholder="Type your message..."
            />
            <button id="send-btn">Send</button>
            <button id="end-btn">End Conversation</button>
          </div>
        </div>
        <div id="tab-analysis" class="tab-content">
          <h2>Analysis</h2>
          <form action="/quiz/analysis" method="post">
            <div class="form-group">
              <label for="subject">Select a subject:</label>
              <select id="subject" name="subject" required>
                {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="skill_level">Select your skill level:</label>
              <select id="skill_level" name="skill_level" required>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            </div>
            <button type="submit">Show Recommendations</button>
          </form>
        </div>
        <div id="tab-translator" class="tab-content">
          <h2>Translator</h2>
          <form
            action="/quiz/translator"
            method="post"
            enctype="multipart/form-data"
          >
            <label for="video_file">Upload a video file:</label>
            <input type="file" id="video_file" name="video_file" /><br /><br />
            <label for="video_link">Or add a video link:</label>
            <input type="text" id="video_link" name="video_link" /><br /><br />
            <button type="submit">Submit</button>
          </form>
        </div>
        <div id="tab-test" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Quizzo<span>Buddy</span></p>
          </div>
          <p>Click on the button below to start taking the test.</p>
          <a href="/quiz/start_quiz"><button class="btn">Start Quiz</button></a>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      document
        .getElementById("file-input")
        .addEventListener("change", function () {
          var fileName = this.files[0].name;
          document.getElementById("file-name").textContent = fileName;
        });

      // Modify the first char as capital letter
      document
        .getElementById("user-input")
        .addEventListener("input", function () {
          var input = this.value;
          if (input.length > 0) {
            this.value = input.charAt(0).toUpperCase() + input.slice(1);
          }
        });

      function showTab(element, tabId) {
        var sidebarOption = document.getElementsByClassName("sidebar-option");
        for (var i = 0; i < sidebarOption.length; i++) {
          sidebarOption[i].classList.remove("active-state");
        }
        element.classList.add("active-state");

        var tabs = document.getElementsByClassName("tab-content");
        for (var i = 0; i < tabs.length; i++) {
          tabs[i].classList.remove("active-tab");
        }
        document.getElementById(tabId).classList.add("active-tab");
      }

      showTab(
        document.getElementsByClassName("sidebar-option")[0],
        "tab-chatbot"
      );
    </script>
    <style>
      .tab-content {
        display: none;
      }
      .active-tab {
        display: block;
      }
      .active-state {
        background-color: rgb(123, 233, 255);
      }
    </style>
  </body>
</html>
