<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LingoBuddy</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/translation.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p>
        skill.<span style="color: dodgerblue"><b>io</b></span>
      </p>
    </div>
    <div class="main-container">
      <div class="sidebar">
        <p class="heading">What you want to do?</p>
        <div class="sidebar-option" onclick="showTab(this, 'tab-chatbot')">
          <i class="fa fa-comment" style="font-size: 20px"></i
          >&nbsp;&nbsp;Chatbot
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-analysis')">
          <i class="fa fa-search" style="font-size: 20px"></i
          >&nbsp;&nbsp;Analysis
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-translator')">
          <i class="fa fa-film" style="font-size: 20px"></i>&nbsp;&nbsp;Video
          Translation
        </div>
        <div class="sidebar-option" onclick="showTab(this, 'tab-test')">
          <i class="fa fa-bookmark" style="font-size: 20px"></i>&nbsp;&nbsp;Quiz
        </div>
      </div>
      <div class="container">
        <div id="tab-chatbot" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Lingo<span>Buddy</span></p>
          </div>
          <div class="chat-options">
            <div class="chat-upload-document">
              <div class="file-upload-wrapper">
                <input
                  type="file"
                  class="file-upload-input"
                  id="file-input"
                  accept=".pdf"
                />
                <button class="file-upload-button">Choose PDF File</button>
              </div>
              <p class="file-name" id="file-name">No file chosen</p>
              <button id="upload-btn">Upload</button>
              <div id="upload-status"></div>
            </div>
            <div class="chat-select-language">
              <p>Select Language:</p>
              <select>
                <option>English</option>
                <option>Tamil</option>
                <option>Telugu</option>
              </select>
            </div>
          </div>
          <div class="chat-box" id="chat-box">
            <div class="chat-icon-div chat-icon-div-bot">
              <img
                class="bot-img"
                src="{{ url_for('static', filename='images/bot.png') }}"
              />
              <p class="chat-name chat-name-bot">LingoBuddy</p>
            </div>
            <div class="message bot">
              Welcome to LingoBuddy! How can I assist you today?
            </div>
          </div>
          <div class="input-area">
            <input
              type="text"
              id="user-input"
              placeholder="Type your message..."
            />
            <button id="send-btn">Send</button>
            <button id="end-btn">End Conversation</button>
          </div>
        </div>
        <div id="tab-analysis" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Analysis<span>Buddy</span></p>
          </div>
          <div class="div">
            <div class="form-group">
              <label for="subject">Select a subject:</label>
              <select class="select" id="subject" name="subject" required>
                {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="div">
            <div class="form-group">
              <label for="skill_level">Select your skill level:</label>
              <select
                class="select"
                id="skill_level"
                name="skill_level"
                required
              >
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            </div>
          </div>
          <button
            onclick="get_analysis()"
            style="margin-top: 20px"
            class="btn"
            type="submit"
          >
            Show Recommendations
          </button>
          <div class="div-recommended-contents">
            <p><b>Recommendations:</b></p>
            <div id="list-recommendations"></div>
          </div>
        </div>
        <div id="tab-translator" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Trans<span>lator</span></p>
          </div>
          <h1>Video Translation</h1>
          <form id="translation-form" action="/video_translation" method="post">
            <label for="youtube_url">YouTube URL:</label>
            <input type="text" id="youtube_url" name="youtube_url" required />
            <button type="submit">Translate</button>
          </form>
          <div id="progress" style="display: none">
            <p>Processing...</p>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
          <div id="result" style="display: none">
            <h2>Translation Complete</h2>
            <video id="translated-video" controls>
              <!-- Hardcoded path to the video in the static folder -->
              <source src={{ url_for('static',
              filename='videos/translated_video/translated_video.mp4') }}
              type="video/mp4"> Your browser does not support the video tag.
            </video>
            <h3>Translated Text:</h3>
            <p id="translated-text"></p>
            <a
              id="download-transcription"
              href="/static/transcription/transcription.txt"
              download
              >Download Transcription</a
            >
          </div>
        </div>
        <div id="tab-test" class="chat-container tab-content">
          <div class="chat-title">
            <img src="{{ url_for('static', filename='images/chatbot.gif') }}" />
            <p>Quizzo<span>Buddy</span></p>
          </div>
          <div class="div">
            Click on the button below to start taking the test.
          </div>
          <a href="/quiz/start_quiz"
            ><button style="margin-top: 20px" class="btn">Start Quiz</button></a
          >
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      document
        .getElementById("file-input")
        .addEventListener("change", function () {
          var fileName = this.files[0].name;
          document.getElementById("file-name").textContent = fileName;
        });

      // Modify the first char as capital letter
      document
        .getElementById("user-input")
        .addEventListener("input", function () {
          var input = this.value;
          if (input.length > 0) {
            this.value = input.charAt(0).toUpperCase() + input.slice(1);
          }
        });

      function showTab(element, tabId) {
        var sidebarOption = document.getElementsByClassName("sidebar-option");
        for (var i = 0; i < sidebarOption.length; i++) {
          sidebarOption[i].classList.remove("active-state");
        }
        element.classList.add("active-state");

        var tabs = document.getElementsByClassName("tab-content");
        for (var i = 0; i < tabs.length; i++) {
          tabs[i].classList.remove("active-tab");
        }
        document.getElementById(tabId).classList.add("active-tab");
      }

      showTab(
        document.getElementsByClassName("sidebar-option")[0],
        "tab-chatbot"
      );
    </script>
    <script>
      function get_analysis() {
        const params = new URLSearchParams({
          subject: document.getElementById("subject").value,
          skill_level: document.getElementById("skill_level").value,
        });

        fetch(`/get_analysis?${params.toString()}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            let text = "";
            data.recommended_content.forEach((item) => {
              text = text + item + "<br />";
            });
            document.getElementById("list-recommendations").innerHTML = text;
          });
      }

      $(document).ready(function () {
        $("#translation-form").on("submit", function (event) {
          event.preventDefault();
          $("#progress").show();
          $(".progress").css("width", "0%");
          const youtube_url = $("#youtube_url").val();

          // Start progress bar animation
          let progress = 0;
          const interval = setInterval(function () {
            if (progress < 100) {
              progress += 2;
              $(".progress").css("width", progress + "%");
            }
          }, 500);

          $.post("/video_translation", { youtube_url: youtube_url })
            .done(function () {
              $("#progress").hide();
              $("#result").show();
              clearInterval(interval);
              $("#translated-text").text(data.translated_text);
            })
            .fail(function () {
              alert("An error occurred. Please try again.");
              $("#progress").hide();
              clearInterval(interval);
            });
        });
      });
    </script>
    <style>
      .tab-content {
        display: none;
      }
      .active-tab {
        display: block;
      }
      .active-state {
        background: linear-gradient(to right, dodgerblue 0%, deepskyblue 100%);
        color: white;
      }
    </style>
  </body>
</html>
